h1 {
  text-align: center;
}

.buttons {
  text-align: center;
}

.button1 {
  font-size: 20px;
  padding:5px 17px;
  cursor: pointer;
}
.button2 {
  font-size: 20px;
  padding: 5px 6px;
  cursor: pointer;
}